Language: Cpp
IndentWidth: 4
Standard: Cpp11
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
MaxEmptyLinesToKeep: 2
PointerAlignment: Left
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: true
SpacesInParentheses: false
Cpp11BracedListStyle: true
BreakBeforeBraces: Mozilla
BreakConstructorInitializers: BeforeComma
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowAllArgumentsOnNextLine: true
AllowAllConstructorInitializersOnNextLine: false
AllowShortLambdasOnASingleLine: Empty
IndentCaseLabels: false
AlwaysBreakTemplateDeclarations: true
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: Align
